* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

#logo {
  width: 50px;
  height: 50px;
}

.btn-ocultar {
  width: 50px;
}

.container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.container .header span {
  padding-top: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.container form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container form .inputcontainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.container form .inputcontainer label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 8px;
}
.form{
  width: 100%;
}
.container form .inputcontainer input {
  width: 300px;
  padding: 20px; /* Ajuste o padding para aumentar a altura do input */
  height: 60px; /* Ajuste a altura conforme necessário */
  border: 1px solid #5c73db;
  border-radius: 12px;
  margin-bottom: 12px;
}


.container form a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #5c73db;
}

.container button {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: none;
  background: #5c73db;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.container button:hover {
  opacity: 0.9;
}

.container .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.container .footer a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #5c73db;
}

.icones-login {
  position: absolute;
  bottom: 35%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .container .header span {
    font-size: 16px;
    line-height: 20px;
  }

  .icones-login {
    right: 2%;
  }
}

.container form .inputcontainer  {
  position: relative;
  width: 30%;
}

.container form .inputcontainer  input {
  width: calc(100% - 5px); /* Ajuste conforme necessário */
  padding: 20px;
  height: 60px;
  border: 1px solid #5c73db;
  border-radius: 12px;
  margin-bottom: 12px;
}

.icones-login {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
